.navbar {
    background-color: #222246!important;
}

.nav-brand-sms {
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 700;
    color: white!important;
    
}

.label-brand-1 {
    color: white;
}

.label-brand-2 {
    color: #FFA500;
}

.btn01, .btn02 {
    color: white!important;
    background-color: #FFA500!important;
    font-weight: 400px!important;
    border-color: #FFA500!important;
}